<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.samurai.model.mapper.TblPurchaseHistoryMapper">

	<insert id="insert" useGeneratedKeys="true">
	INSERT INTO tbl_purchase_history
      (user_id, product_id, product_count, price, destination_id)
    SELECT 
      cart.user_id, cart.product_id, cart.product_count,product.price, #{destinationId}
    FROM
      tbl_cart cart
    JOIN
      mst_product product
    ON
      cart.product_id = product.id
    WHERE
      cart.user_id = #{userId};
  </insert>
	
	<select id="findByUserId" resultType="jp.co.internous.samurai.model.domain.dto.PurchaseHistoryDto">
	  SELECT tbl_purchase_history.purchased_at, mst_product.product_name, tbl_purchase_history.price, 
		tbl_purchase_history.product_count, mst_destination.family_name, mst_destination.first_name, 
		mst_destination.address FROM tbl_purchase_history JOIN mst_product on mst_product.id = tbl_purchase_history.product_id 
		JOIN mst_destination on mst_destination.id = tbl_purchase_history.destination_id 
		WHERE tbl_purchase_history.user_id = #{user_id} AND tbl_purchase_history.status = 1
		ORDER BY purchased_at DESC;
	</select>
	
</mapper>